In [1]:
import pandas as pd

tabela = pd.read_excel("tabela_alunos.xlsx")

display(tabela)

                                  Nome Atividade       Data      Hora
0        Maria Luiza Camargo Gonçalves    Entrou 2023-08-24  18:38:00
1              Izaura dos Santos Souza    Entrou 2023-08-24  18:38:00
2         William Lourenço de Oliveira    Entrou 2023-08-24  18:38:00
3          Fernando Marques dos Santos    Entrou 2023-08-24  18:38:00
4              Felipe de Souza Freitas    Entrou 2023-08-24  18:38:00
5              Felipe de Souza Freitas      Saiu 2023-08-24  19:59:00
6              Felipe de Souza Freitas    Entrou 2023-08-24  20:01:00
7                  Rayssa Barros Alves    Entrou 2023-08-24  18:38:00
8   Carolina Aparecida Henriques Prado    Entrou 2023-08-24  18:38:00
9          Cauan Menezes de Matos Luiz    Entrou 2023-08-24  18:38:00
10         Cauan Menezes de Matos Luiz      Saiu 2023-08-24  19:22:00
11         Cauan Menezes de Matos Luiz    Entrou 2023-08-24  19:22:00
12                 Hyago Martinez Rubo    Entrou 2023-08-24  18:38:00
13            Kaique Donizeti da Silva    Entrou 2023-08-24  18:38:00
14           Maria Elyza Andrade Silva    Entrou 2023-08-24  18:38:00
15           Maria Elyza Andrade Silva      Saiu 2023-08-24  20:16:00
16         Thiago Cauan de Lima Santos    Entrou 2023-08-24  18:38:00
17                Beatriz Lemos Soares    Entrou 2023-08-24  18:38:00

In [28]:
#Registro de alunos que entraram em ordem alfabetica e quantidade

alunos = tabela[["Nome","Atividade"]].groupby(["Nome"]).sum()
display(alunos)
print(f"Entraram {len(alunos.index)} alunos")

                                           Atividade
Nome
Beatriz Lemos Soares                          Entrou
Carolina Aparecida Henriques Prado            Entrou
Cauan Menezes de Matos Luiz         EntrouSaiuEntrou
Felipe de Souza Freitas             EntrouSaiuEntrou
Fernando Marques dos Santos                   Entrou
Hyago Martinez Rubo                           Entrou
Izaura dos Santos Souza                       Entrou
Kaique Donizeti da Silva                      Entrou
Maria Elyza Andrade Silva                 EntrouSaiu
Maria Luiza Camargo Gonçalves                 Entrou
Rayssa Barros Alves                           Entrou
Thiago Cauan de Lima Santos                   Entrou
William Lourenço de Oliveira                  Entrou

Entraram 13 alunos

In [2]:

tabela["Hora"] = tabela["Hora"].astype(str)

# Registro de alunos que entraram após as 18:30 (considerando qualquer hora subsequente)
alunos_entraram_apos_1830 = tabela[
    (tabela["Atividade"] == "Entrou") &
    (tabela["Hora"] > "18:30")
]

# Registro de alunos que saíram antes das 20:30 (considerando qualquer hora anterior)
alunos_sairam_antes_2030 = tabela[
    (tabela["Atividade"] == "Saiu") &
    (tabela["Hora"] < "20:30")
]


print("Alunos que entraram após as 18:30 (considerando qualquer hora subsequente):")
print(alunos_entraram_apos_1830[["Nome", "Hora"]])

print("\nAlunos que saíram antes das 20:30 (considerando qualquer hora anterior):")
print(alunos_sairam_antes_2030[["Nome", "Hora"]])

Alunos que entraram após as 18:30 (considerando qualquer hora subsequente):
                                  Nome      Hora
0        Maria Luiza Camargo Gonçalves  18:38:00
1              Izaura dos Santos Souza  18:38:00
2         William Lourenço de Oliveira  18:38:00
3          Fernando Marques dos Santos  18:38:00
4              Felipe de Souza Freitas  18:38:00
6              Felipe de Souza Freitas  20:01:00
7                  Rayssa Barros Alves  18:38:00
8   Carolina Aparecida Henriques Prado  18:38:00
9          Cauan Menezes de Matos Luiz  18:38:00
11         Cauan Menezes de Matos Luiz  19:22:00
12                 Hyago Martinez Rubo  18:38:00
13            Kaique Donizeti da Silva  18:38:00
14           Maria Elyza Andrade Silva  18:38:00
16         Thiago Cauan de Lima Santos  18:38:00
17                Beatriz Lemos Soares  18:38:00

Alunos que saíram antes das 20:30 (considerando qualquer hora anterior):
                           Nome      Hora
5       Felipe de Souza Freitas  19:59:00
10  Cauan Menezes de Matos Luiz  19:22:00
15    Maria Elyza Andrade Silva  20:16:00

In [68]:
#Alunos que não tiveram problemas de conexao

registro.loc[registro["Atividade"] == "Entrou"]

                                   Atividade
Nome
Beatriz Lemos Soares                  Entrou
Carolina Aparecida Henriques Prado    Entrou
Fernando Marques dos Santos           Entrou
Hyago Martinez Rubo                   Entrou
Izaura dos Santos Souza               Entrou
Kaique Donizeti da Silva              Entrou
Maria Luiza Camargo Gonçalves         Entrou
Rayssa Barros Alves                   Entrou
Thiago Cauan de Lima Santos           Entrou
William Lourenço de Oliveira          Entrou

In [72]:
#Hora de entrada dos alunos

entrada = 'Hora'
tabela_ordenada = tabela.sort_values(by=entrada)
tabela_unico = tabela_ordenada.drop_duplicates(subset='Nome')
print(tabela_unico[['Hora', 'Nome']])

        Hora                                Nome
0   18:38:00       Maria Luiza Camargo Gonçalves
14  18:38:00           Maria Elyza Andrade Silva
13  18:38:00            Kaique Donizeti da Silva
12  18:38:00                 Hyago Martinez Rubo
9   18:38:00         Cauan Menezes de Matos Luiz
16  18:38:00         Thiago Cauan de Lima Santos
7   18:38:00                 Rayssa Barros Alves
8   18:38:00  Carolina Aparecida Henriques Prado
4   18:38:00             Felipe de Souza Freitas
3   18:38:00         Fernando Marques dos Santos
2   18:38:00        William Lourenço de Oliveira
1   18:38:00             Izaura dos Santos Souza
17  18:38:00                Beatriz Lemos Soares